
.menu {
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: rgba(0, 45, 116, 0.9);
            top: 60px;
            right: 0;
            width: 142px;
            border-radius: 5px;

z-index: 3;  

        }

        .menu a {
            padding: 15px;
            color: Black;
            text-decoration: none;
      
        }

        .menu a:hover {
            background-color: #444;
        }

        .burger {
            cursor: pointer;
            padding: 10.px;;
            background-color: #0F2C6F;
            color: white;
            border: none;
            font-size: 18px;
            position: absolute; 
            right: 10px;
top: 5px;

        }

        .burger:focus {
            outline: none;
box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);